<!doctype html>
@{
    ViewBag.menu = new MenuItem[] {
        new MenuItem("index", "home", "TTC Touch"),
        new MenuItem("geschiedenis", "book", "Clubgeschiedenis"),
        new MenuItem("lokaal", "map-marker-alt", "Lokaal"),
        new MenuItem("contact", "envelope", "Contact"),
        new MenuItem("kavvv", "table-tennis", "KAVVV")
    };
}
<html class="no-js" lang="nl-be">
<head>
    <meta charset="utf-8">
    <meta name="description" content="TTC Touch is een tafeltennisclub uit Wommelgem, die met 4 ploegen deelneemt aan de competitie van de KAVVV vriendenclubs.">
    <meta name="keywords" content="ttc touch,touch,tafeltennis,ping pong,wommelgem,avvv,kavvv,fort,fort 2">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="styles/main.css">
    <title>@(ViewBag.title ?? "TTC Touch")</title>
</head>
<body>
    <div class="container">
        <div class="header mt-2 mb-3">
            <ul class="nav nav-pills nav-fill">
                @foreach (MenuItem menuItem in ViewBag.menu)
                {
                    var linkClass = "nav-link";
                    var href = menuItem.Page + ".html";
                    if (menuItem.Page == "index")
                    {
                        href = "./";
                    }
                    if (ViewContext.View.Path.EndsWith(menuItem.Page + ".cshtml", StringComparison.OrdinalIgnoreCase))
                    {
                        linkClass = "nav-link active";
                    }
        
                    <li class="nav-item">
                        <a class="@linkClass" href="@href">
                            <span class="fas fa-@menuItem.AwesomeIcon"></span> @menuItem.Label
                        </a>
                    </li>
                }
            </ul>
        </div>

        @RenderBody()
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-66682617-1', 'auto');
        ga('send', 'pageview');
    </script>

    <script src="/scripts/bootstrap.min.js"></script>
</body>
</html>
